*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Whitney', sans-serif;
}
/* Utils */

  .text-center{
    text-align: center;
  }
  
  .text-purple{
    color: rgb(87,101,242);
  }

  .p-100{
    padding: 100px;
  } 

  .lh-22{
    line-height: 22px;
  }

  .ml-80{
    margin-left: 80px;
  }

  .mr-80{
    margin-right: 80px;
  }

  .mr-10{
    margin-right: 10px;
  }

  .mb-20{
    margin-bottom: 20px;
  }

  .mb-30{
    padding-bottom: 30px;
  }

  .border-white{
    border: 0.3px solid rgb(87,101,242);
  }
/*<----->*/

main .row,
footer .row{
  width: 68%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
header{
  width: 60px;
  background-color: rgb(37,94,232);
}

header .row{
  width: 100%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 100px;
  cursor: pointer;
}

header .col-sm:first-child{
  padding: 5px 0px 0px 0px;
}

header nav,
header .col-sm:last-child{
  padding: 6px;
}

header nav a{
  color: white;
  text-decoration: none;
}

header nav a:hover{
  text-decoration: underline;
}


header nav{
  column-gap: 20px;
  width: calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .col-sm{
  text-align: center;
  width: calc(100%/3);
}

.login-btn{
  text-align: center;
  padding: 8px;
  border: none;
  border-radius: 20px;
  width: 60px;
  cursor: pointer;
}

.login-btn:hover{
  color: rgb(37,94,232);
  box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.30);
}
/*<------>*/

/* Main */
.container{
  padding: 100px 0;
}

.bg-jumbo-img{
  background-image: url('../img/jumbo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  color: white;
  width: 65%;
}

.card-title{
  font-size: 40px;
  margin-bottom: 40px;
}

main input[type="button"]{
  font-size: 15px;
  text-align: center;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.mac-download-btn{
  transition: 0.5s;
}

.mac-download-btn:hover{
  color: rgb(37,94,232);
  box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.30);
}

.browser-btn{
  color: white;
  background-color: rgb(35,39,42);
  margin-left: 10px;
  transition: 0.5s;
}

.browser-btn:hover{
  color: white;
  background-color: rgb(60, 66, 71);
  box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.30);
}


.col-lg{
  width: 60%;
}

.col-lg img{
  width: 100%;
}

main .col-sm{
  width: 28%;
}

.container p{
  font-size: 15px;
}

.bg-wave{
  background-color: rgb(234, 234, 234);
}

.purple-btn{
  color: white;
  background-color: rgb(87,101,242);
}

.purple-btn:hover{
  color: white;
  background-color: rgb(115, 125, 238);
}

/* main footer*/
.container-black{
  padding: 40px 0px 5px;
  color: white;
  background-color: rgb(37, 37, 37);
}

.container-black .row{
  display: flex;
  align-items: flex-start;
}

.container-black .col-lg{
  width: 35%;
}

.container-black .col-sm{
  width: 16.25%;
}

.mini-container{
  width: 80%;
}

.social{
  display: flex;
  justify-content: space-between;
}

.container-black a{
  color: white;
  text-decoration: none;
}

.container-black a:hover{
  text-decoration: underline;
}

.language img{
  width: 20px;
}

.container-black .col-sm{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}


/*<---------->*/
/*<------>*/

/* Footer */

footer{
  height: 100px;
  background-color: rgb(37, 37, 37);
}

footer .row{
  display: flex;
  align-items: center;
}

footer nav{
  width: 100%;
  height: 70%;
  padding: 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(87,101,242);
}

.register-btn{
  color: white;
  background-color: rgb(87,101,242);
  border: none;
  padding: 8px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.register-btn:hover{
 background-color: rgb(120, 130, 239);
}
/*<------>*/